	@charset 'utf-8';
	
	#wrap h1{
		text-align: center;
	}
	
	table{		
		width:500px;
		margin: 0 auto;		
		border-collapse: collapse;					
	}
	
	tr{
		height: 40px;
	}
	
	td{
		border: 1px solid black;
	}
	
	td input{
		padding: 5px;
		margin-left: 10px;
	}